{% extends 'base-vue.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <a href="{{ path('sonata_admin_redirect')}}">Admin</a>
    <div id="app">
        <app>
        </app>
    </div>
{% endblock %}
