{% extends 'base-vue.html.twig' %}

{% block body %}
    <a href="{{ path('sonata_admin_redirect')}}">Admin</a>
    <div class="">
        <div id="app">
            <app>
            </app>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.rangersBD = {{ dates }}
    </script>
    {{ parent() }}
{% endblock %}
